<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .nav-link {
            color: white;
            padding: 8px 16px;
            transition: background-color 0.3s;
        }

        .nav-link:hover {
            background-color: #495057;
        }
    </style>
    <title>Curso</title>
</head>
<body>
    <div>
        <div class="row">
            <div class="col-md-2">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="sidebar" style="width: 250px; height: 100vh;">
                    <ul class="nav nav-pills flex-column mb-auto flex-grow-1">
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Menu">Menú</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Notas">Notas</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="IngresoCurso">Cursos</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Personas">Personas</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Usuarios">Usuarios</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="IngresoAlumnos">Ingreso de Alumnos</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Asignatura">Asignaturas</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Alumnos">Alumnos</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Semestre">Semestre</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="IngresoAsignatura">Tipo Asignatura</a>
                        </li>
                        <hr />
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <br />
                <div class="card p-4">
                    <h2 class="text-center mb-4">Ingreso de Curso</h2>
                    <form id="formIngresoCurso">
                        <div class="mb-3">
                            <label for="profesor" class="form-label">Profesor</label>
                            <select class="form-select" id="profesor" required>
                                <!-- Opciones de profesores se llenarán dinámicamente -->
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="asignatura" class="form-label">Asignatura</label>
                            <select class="form-select" id="asignatura" required>
                                <!-- Opciones de asignaturas se llenarán dinámicamente -->
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="seccion" class="form-label">Sección</label>
                            <input type="text" class="form-control" id="seccion" required>
                        </div>
                        <div class="mb-3 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </form>
                    <hr />
                    <div class="error-message" id="mensajeError"></div>
                    <hr />
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Profesor</th>
                                <th>Asignatura</th>
                                <th>Sección</th>
                            </tr>
                        </thead>
                        <tbody id="tablaCursosBody">
                            <!-- Datos de cursos se mostrarán aquí -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        document.getElementById('formIngresoCurso').addEventListener('submit', function (event) {
            event.preventDefault();
            agregarCurso();
        });

        function agregarCurso() {
            var rutProfesor = document.getElementById('profesor').value;
            var codAsignatura = document.getElementById('asignatura').value;
            var seccion = document.getElementById('seccion').value;

            fetch('https://localhost:44343/Cursos/InsertarCursos', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    RutPersona: rutProfesor,
                    CodAsignatura: codAsignatura,
                    Seccion: parseInt(seccion),
                }),
            })
                .then(response => {
                    console.log('Response status:', response.status);
                    if (!response.ok) {
                        return response.json().then(error => {
                            console.error('Error:', error);

                            // Actualiza el contenido del contenedor para mostrar el mensaje de error
                            document.getElementById('mensajeError').innerText = 'Error al agregar curso: ' + error.respuesta;
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Data:', data);
                    document.getElementById('seccion').value = '';
                    cargarListadoCursos();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function cargarListadoCursos() {
            fetch('https://localhost:44343/Cursos/ListadoCursos')
                .then(response => response.json())
                .then(data => {
                    var tablaCursosBody = document.getElementById('tablaCursosBody');
                    tablaCursosBody.innerHTML = '';

                    data.forEach(curso => {
                        var row = document.createElement('tr');
                        row.innerHTML = `<td>${curso.RutPersona}</td><td>${curso.NomAsignatura}</td><td>${curso.Seccion}</td>`;
                        tablaCursosBody.appendChild(row);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }


        document.addEventListener('DOMContentLoaded', function () {
            cargarListadoProfesores();
            cargarListadoAsignaturas();
            cargarListadoCursos();
        });

        function cargarListadoProfesores() {
            fetch('https://localhost:44343/Cursos/ListadoProfesores')
                .then(response => response.json())
                .then(data => {
                    var profesorDropdown = document.getElementById('profesor');
                    profesorDropdown.innerHTML = '';

                    data.forEach(profesor => {
                        var option = document.createElement('option');
                        option.value = profesor;
                        option.textContent = profesor;
                        profesorDropdown.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function cargarListadoAsignaturas() {
            fetch('https://localhost:44343/Cursos/ListadoAsignaturas')
                .then(response => response.json())
                .then(data => {
                    var asignaturaDropdown = document.getElementById('asignatura');
                    asignaturaDropdown.innerHTML = '';

                    data.forEach(asignatura => {
                        var option = document.createElement('option');
                        option.value = asignatura.CodAsignatura;
                        option.textContent = asignatura.NomAsignatura;
                        asignaturaDropdown.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
</body>
</html>