<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .nav-link {
            color: white;
            padding: 8px 16px;
            transition: background-color 0.3s;
        }

            .nav-link:hover {
                background-color: #495057;
            }
    </style>
    <title>Usuarios</title>
</head>
<body>
    <div>
        <div class="row">
            <div class="col-md-2">
                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" id="sidebar" style="width: 250px; height: 100vh;">
                    <ul class="nav nav-pills flex-column mb-auto flex-grow-1">
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Menu">Menú</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Notas">Notas</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="IngresoCurso">Cursos</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Personas">Personas</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Perfil">Perfil</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Usuarios">Usuarios</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="IngresoAlumnos">Ingreso de Alumnos</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Asignatura">Asignaturas</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Alumnos">Alumnos</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Semestre">Semestre</a>
                        </li>
                        <hr />
                        <li>
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="IngresoAsignatura">Tipo Asignatura</a>
                        </li>
                        <hr />
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <br />
                <div class="card p-4">
                    <h2 class="text-center mb-4">Crear Usuarios</h2>
                    <form id="formUsuario">
                        <div class="mb-3">
                            <label for="nombreUsuario" class="form-label">Nombre de Usuario</label>
                            <input type="text" class="form-control" id="nombreUsuario" required>
                        </div>
                        <div class="mb-3">
                            <label for="contrasena" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="contrasena" required>
                        </div>
                        <div class="mb-3 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </form>
                    <hr>
                    <table class="table" id="tablaUsuarios">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre de Usuario</th>
                                <th>Perfil</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function cargarUsuarios() {
                fetch('https://localhost:44343/usuarios/ListadoUsuario')
                    .then(response => response.json())
                    .then(usuarios => {
                        var tablaUsuarios = document.getElementById('tablaUsuarios');
                        var tbody = tablaUsuarios.querySelector('tbody');
                        tbody.innerHTML = '';

                        usuarios.forEach(usuario => {
                            var fila = tbody.insertRow();
                            var celdaNombreUsuario = fila.insertCell(0);
                            var celdaRutPersona = fila.insertCell(1);
                            var celdaContraseña = fila.insertCell(2);

                            celdaNombreUsuario.innerHTML = usuario.NomUsuario;
                            celdaRutPersona.innerHTML = usuario.RutPersona;
                            celdaContraseña.innerHTML = usuario.Contraseña;
                        });
                    })
                    .catch(error => {
                        console.error('Error al obtener la lista de usuarios:', error);
                    });
            }

            document.getElementById('formUsuario').addEventListener('submit', function (event) {
                event.preventDefault();

                var nombreUsuario = document.getElementById('nombreUsuario').value;
                var contrasena = document.getElementById('contrasena').value;
                var rut = document.getElementById('rut').value;

                fetch(`https://localhost:44343/usuarios/InsertarUsuario?nom=${nombreUsuario}&psw=${contrasena}&rut=${rut}`, {
                    method: 'POST'
                })
                    .then(response => response.json())
                    .then(response => {
                        console.log(response);
                        cargarUsuarios();
                    })
                    .catch(error => {
                        console.error('Error al insertar un nuevo usuario:', error);
                    });
            });

            cargarUsuarios();
        });
    </script>
</body>
</html>